:5173 {
	log
	try_files {path} /

	header Cache-Control "no-cache, no-store, must-revalidate"

	handle /favicon.png {
		header Cache-Control "max-age=3600"
	}
	handle /streamsaver-2.0.6-34ea69e/* {
		header Cache-Control "max-age=31536000"
	}
	handle /pdfjs-4.2.67/* {
		header Cache-Control "max-age=31536000"
	}
	handle /assets/* {
		header Cache-Control "max-age=31536000"
	}
	encode gzip {
		match {
			header Content-Type text/*
			header Content-Type application/json*
			header Content-Type application/javascript*
			header Content-Type application/xhtml+xml*
			header Content-Type image/svg+xml*
			header Content-Type application/wasm
		}
	}
	root * ./dist
	file_server
}
