*.iml
.gradle
/local.properties
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/deploymentTargetDropDown.xml
/.idea/inspectionProfiles
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/shelf/
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.profile
/keystores
