name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Checkout
        uses: actions/checkout@v3
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v2
      - name: Build static files
        run: |
          GIT_REVISION=$(git rev-parse --short HEAD)
          docker buildx build --build-arg GIT_REVISION="$GIT_REVISION" --target static-stage -t vault-static --cache-from=type=gha --cache-to=type=gha,mode=max --load .
          docker run --rm vault-static cat vault-web.tar.gz > vault-web.tar.gz
          sha256sum vault-web.tar.gz | awk '{print $1}' > vault-web.tar.gz.sha256
      - uses: actions/upload-artifact@v3
        with:
          name: vault-web
          path: vault-web.tar.gz*
          retention-days: 30

  playwright:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install vault-web dependencies
        run: npm ci
        working-directory: vault-web
      - name: Install vault-web-tests dependencies
        run: npm ci
        working-directory: vault-web-tests
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
        working-directory: vault-web-tests
      - uses: actions/download-artifact@v3
        with:
          name: vault-web
      - name: Unpack vault-web into dist
        run: |
          mkdir dist
          cd dist
          tar xf ../../vault-web.tar.gz
        working-directory: vault-web
      - name: Prepare credentials
        run: node scripts/generate-playwright-auth-user.js
        working-directory: vault-web-tests
        env:
          VAULT_OAUTH2_TOKEN: ${{ secrets.VAULT_OAUTH2_TOKEN }}
      - name: Run eslint
        run: npm run eslint
        working-directory: vault-web-tests
      - name: Run Playwright tests
        run: npx playwright test
        working-directory: vault-web-tests
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: vault-web-tests/playwright-report/
          retention-days: 30

  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build, playwright]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: vault-web
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            vault-web.tar.gz
            vault-web.tar.gz.sha256
          draft: true
          generate_release_notes: true
